.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    z-index: 99;
    &.scrolled {
        background-color: #1d1a29;
        z-index: 100;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    &__logo {
        a {
            font-family: var(--font-ordeal-eroded);
            text-decoration: none;
            color: #fff;
            font-size: 2rem;
            @media (min-width: 1024px) {
                font-size: 2.5rem;
            }
            @media (min-width: 1280px) {
                font-size: 3rem;
            }
        }
        span {
            color: #7a67db;
        }
    }
    &__nav {
        ul {
            list-style: none;
            display: flex;
            gap: 1rem;
            @media (min-width: 1024px) {
                gap: 1.5rem;
            }
            @media (min-width: 1280px) {
                gap: 2rem;
            }
        }
        li {
            position: relative;
        }
        a {
            color: var(--white);
            font-family: var(--font-paddington);
            font-size: 1.4rem;
            transition: color 0.25s ease-in;
            &:hover {
                color: #7a67db;
            }
            @media (min-width: 1024px) {
                font-size: 1.6rem;
            }

            @media (min-width: 1280px) {
                font-size: 1.8rem;
            }
        }
    }
    &__mobile-button {
        width: 2.5rem;
        height: 3rem;
    }
    &__menu-bar {
        height: .3rem;
        display: block;
        margin-bottom: .3rem;
        border-radius: 3px;
    }
}