@import url('https://fonts.cdnfonts.com/css/noto-sans-georgian');
@import url('https://fonts.cdnfonts.com/css/paddington');
@import url('https://fonts.cdnfonts.com/css/ordeal-eroded');
@import 'normalize.scss';
@import 'default.scss';
@import 'animations.scss';
@import 'sidebar-nav.scss';
@import 'header.scss';
@import 'footer.scss';

.body {
    &.active-sidebar {
        &:before {
            content:" ";
            background-color: rgba(0,0,0,.5);
            position: absolute;
            z-index: 1;
            width: 100%;
            height: 100%;
            opacity: 1;
            animation: backgroundFade 0.5s ease-in forwards;
        }
    }
}

.hireme-btn {
    width: 15rem;
    height: 4rem;
    background-color: rgba(122, 103, 219, 0.5);
    display: flex;
    justify-content: center;
    align-items:  center;
    border-radius: 2.4rem;
    position: relative;
    font-size: 1.4rem;
    text-decoration: none;
    overflow: hidden;
    &::before {
        content:" ";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 0;
        height: 0;
        background: rgba(255, 255, 255, 0.8);
        border-radius: 100%;
        transform: translate(-50%, -50%);
        pointer-events: none;
        z-index: 1;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }
    &:hover::before {
        width: 100%;
        height: 100%;
        animation: ripple78 1s ease-out infinite;
        opacity: 1;
    }
}

.socials {
    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
        li {
            flex: 2.5rem 0 0;
            width: 2.5rem;
        }
        svg {
            fill: var(--white);
        }
        a {
            display: block;
            &:hover {
                svg {
                    fill: rgba(122, 103, 219, 0.5);
                    transition: fill 0.5s ease-out;
                }
            }
        }
    }
}

.banner {
    padding-top: 6rem;
    overflow: hidden;
    background-color: #161321;
    position: relative;
    @media (min-width: 1280px) {
        &:before {
            content:" ";
            background-image: url('../images/main-bg.png');
            height: 90rem;
            background-size: cover;
            background-repeat:  no-repeat;
            background-position: center center;
            background-blend-mode: soft-light;
            position: absolute;
            left: 0;
            top: 3px;
            width: 100%;
            height: 100%;
        }
    }
    &__profile-pic {
        width: 33rem;
        height: 33rem;
        @media (min-width: 1280px) {
            width: 54rem;
            height: 54rem;
        }
        background-color: rgba(122, 103, 219, 0.502);
        clip-path: circle(50%);
        position: relative;
        img {
            width: 20rem;
            height: auto;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0;
            @media (min-width: 1280px) {
                width: 30rem;
            }
        }
    }
    &__content {
        span {
            font-family: var(--font-noto-sans-georgian);
            font-size: 1.8rem;
            @media (min-width: 1024px) {
                font-size: 2rem;
            }
            @media (min-width: 1024px) {
                font-size: 2.4rem;
            }
        }
        h1 {
            font-family: var(--font-ordeal-eroded);
            @media (min-width: 1024px) {
                font-size: 3.2rem;
            }
            @media (min-width: 1024px) {
                font-size: 4.2rem;
            }
        }
        h3 {
            font-size: 2rem;
            @media (min-width: 1024px) {
                font-size: 2.2rem;
            }
            @media (min-width: 1024px) {
                font-size: 2.6rem;
            }
        }
        p {
            @media (min-width: 1024px) {
                font-size: 1.8rem;
            }
            @media (min-width: 1024px) {
                font-size: 2rem;
            }
        }
        span, h1, h3, p {
            transform: translateY(0);
            filter: blur(0);
            opacity: 1;
            animation: showAndHide 7s ease-in-out infinite;
        }
    }
}

.about-me {
    background-color: #161321;
    @media (min-width: 1280px) {
        background-image: url(../images/testi-pet.png);
        background-repeat: no-repeat;
        background-position: right center;
        background-blend-mode: overlay;
        background-size: 560px auto;
    }
}

.skills {
    position: relative;
    @media (min-width: 1280px) {
        &:before {
            content:" ";
            background-image: url('../images/main-bg.png');
            height: 90rem;
            background-size: cover;
            background-repeat:  no-repeat;
            background-position: center center;
            background-blend-mode: soft-light;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            transform: scaleX(-1);
            transform: scaleY(-1);
            z-index: 0;
        }
    }
    &__experience {
        position: relative;
        z-index: 1;
        ul {
            column-count: 2;
            @media (min-width: 1024px) {
                column-count: 3;
            }
            @media (min-width: 1280px) {
                column-count: 4;
            }
            li {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                margin-bottom: 1.5rem;
                background-color: #161321;
                padding: 3rem 2rem;
                border-radius: 1.2rem;
                box-shadow: 0 0 3px 1px rgba(10, 9, 9, 0.5);
                h4 {
                    font-size: 2rem;
                    margin-bottom: 1rem;
                }
                svg {
                    width: 6rem;
                    height: 6rem;
                    fill: var(--white);
                }
                &:hover svg {
                    animation: bounce 1s;
                }
                > div:last-child {
                    padding-left: 1.5rem;
                }
            }
        }
    }
    &__proficiency {
        z-index: 1;
        position: relative;
        ul {
            column-count: 2;
            @media (min-width: 1024px) {
                column-count: 3;
            }
        }
        li {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            margin-bottom: 2rem;
            & > div {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                margin-bottom: .5rem;
                width: 100%;
                flex: 100% 0 0;
                label {
                    margin-right: auto;
                }
                span {
                    margin-left: auto;
                }
            }
        }
        progress {
            width: 100%;
            height: 3rem;
            appearance: none;
            border-radius: 5px;
            overflow: hidden;
        }
        
        progress::-webkit-progress-bar {
            background-color: var(--white);
        }
        
        progress::-webkit-progress-value {
            background-color: #7963e0;
            transition: width 1s ease;
        }
        
        progress::-moz-progress-bar {
            background-color: #7963e0;
        }
    }
}

.experience {
    background-color: #161321;
    ul {
        width: 100%;
        @media (min-width: 768px) {
            column-count: 2;
        }
        li {
            background-color: #120f1c;
            margin-bottom: 2rem;
            padding: 2.5rem 2rem;
            box-shadow: 0 0 3px 1px rgb(18, 18, 18);
            border-radius: .9rem;
            h3, h4, span {
                display: block;
            }
            span {
                margin-bottom: 1rem;
            }
            p {
                margin-bottom: 1.2rem;
            }
        }
    }
}

.portfolio {
    background-color: #120f1c;
    @media (min-width: 1280px) {
        background-image: url(../images/testi-pet.png), url(../images/testi-pet.png);
        background-repeat: no-repeat;
        background-position: left top, right bottom;
        background-blend-mode: overlay;
        background-size: 400px auto, 380px auto;
    }
    ul {
        column-count: 2;
        @media (min-width: 640px) {
            column-count: 3;
        }
        @media (min-width: 768px) {
            column-count: 4;
        }
        li {
            margin-bottom: 2rem;
        }
        img {
            width: 100%;
            max-width: inherit;
        }
    }
}